.list {
	list-style: none;
}

.card {
	box-shadow: inset 0 0 0 600px rgba(0, 0, 0, 0.5);
	background: inherit;
	backdrop-filter: blur(10px);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	position: relative;
	border-radius: 15px;
	max-height: 83vh;
	overflow-y: auto;
}

.information {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	overflow-y: auto;
	padding: 1rem;
}

.name {
	grid-column-start: 1;
	grid-column-end: -1;
	text-transform: uppercase;
	font-family: "Agestoned", sans-serif;
	color: #4b6c68;
	padding: 3rem 0;
	font-size: 2rem;
	letter-spacing: 1px;
	text-align: center;
}

ul {
	padding: 0.5rem;
	text-align: left;
	line-height: 2rem;
}

h2 {
	color: #a4afae;
	padding: 0.5rem;
	font-size: 1.2rem;
	text-align: left;
	text-decoration: underline;
}

.basic,
.other {
	color: #a0dcd5;
	text-transform: uppercase;
}

.moon-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.moons {
	text-transform: uppercase;
	h2 {
		color: #c5d4d1;
		font-size: 1.2rem;
	}
}

.moon {
	color: #cff0ec;
	text-transform: uppercase;
	font-size: 1rem;
	text-align: left;
	line-height: 1.5rem;
}

.close-icon {
	font-size: 30px;
	color: #d5e2e1;
	position: absolute;
	top: 2rem;
	left: 95%;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;

	&:hover {
		transform: scale(1.2);
	}
}

@media screen and (max-width: 1200px) {
	.information {
		grid-template-columns: repeat(2, 1fr);
	}

	.name {
		font-size: 1.8rem;
		padding: 2rem 0;
	}

	ul {
		line-height: 3rem;
	}

	.moon-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 768px) {
	.card {
		max-height: 70vh; // Make sure the height is responsive
	}

	.information {
		grid-template-columns: 1fr;
	}

	.name {
		font-size: 1.6rem;
		padding: 1.5rem 0;
	}

	ul {
		line-height: 2rem;
	}

	.moon-list {
		grid-template-columns: 1fr;
	}

	.close-icon {
		font-size: 25px;
		top: 1rem;
		left: 90%;
	}
}

@media screen and (max-width: 480px) {
	.card {
		padding: 0.5rem;
		max-height: 60vh; // Adjust for very small screens
	}

	.name {
		font-size: 1.4rem;
	}

	ul {
		line-height: 1.8rem;
		font-size: 0.8rem;
	}

	.moon-list {
		grid-template-columns: 1fr;
	}

	.moon {
		font-size: 0.8rem;
	}

	.close-icon {
		font-size: 20px;
		top: 1rem;
		left: 85%;
	}
}
