.page-intro {
	display: grid;
	grid-template-rows: auto 10%;
	align-items: start;
	justify-content: center;
	padding: 1rem;
	height: 100%;

	h1 {
		color: #336d65;
		font-size: 4rem;
		font-family: "Agestoned";
		padding-bottom: 5rem;
		padding-top: 5rem;
	}

	p {
		font-size: 1.2rem;
		font-weight: bold;
		width: 500px;
		text-transform: uppercase;
		font-family: "Orbitron";
	}
}

.page-intro-text {
	color: #0c1312;
	line-height: 2.5rem;
}

.text {
	color: #b1e1dc;
	align-self: flex-end;
}

.underlined {
	text-decoration: underline;
}

a {
	color: #b1e1dc;
}

a:hover {
	color: #76c9c1;
}

/************ MEDIA QURIES *************/
@media (max-width: 44em) {
	.page-intro-text {
		color: #0c1d1a;
	}
}

@media (max-width: 34em) {
	.page-intro-text {
		color: #a0dcd5;
	}
}
