.page-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  padding: 10px;

  h1 {
    color: #4b6c68;
    font-size: 4rem;
    font-family: "Montserrat Subrayada";
  }

  p {
    font-size: 1.2rem;
    font-weight: bold;
    width: 500px;
    text-transform: uppercase;
  }
}

.page-intro-text {
  margin-top: 3rem;
  color: #0f1615;
}

.text {
  margin-top: 18rem;
  color: #a0dcd5;
}

.underlined {
  text-decoration: underline;
}

/************ MEDIA QURIES *************/
@media (max-width: 44em) {
  .page-intro-text {
    color: #0c1d1a;
  }
}

@media (max-width: 34em) {
  .page-intro-text {
    color: #a0dcd5;
  }
}
